// reset style
@import "compass/reset",
	"compass/css3";


$general-spacing: 10px;
$background-color: #222;
$font-color: #ccc;
$font-size: 16pt;
$highlight-color: #c5d6f3;
$highlight2-color: #58ae39;
$font-family: 'Gudea', sans-serif;
$higlight-font-family: 'Rancho', cursive;


@mixin clearfix ($after-clear: true) {
    zoom:1;
    &:after{
        content: ".";
        display: block;
        height: 0;
        @if ($after-clear) {
            clear: both;
        }
        font-size: 0;
        visibility: hidden;
    }
}



body {
	background: $background-color;
	font-family: $font-family;
	color: $font-color;
	font-size: $font-size;
	line-height: 1.2 * $font-size;
}

h1, h2, h3, h4, h5, h6, .title {
	font-family: $higlight-font-family;
	color: $highlight-color;
}

input, select, textarea {
	font-family: $font-family;
	color: $background-color;
	font-size: $font-size;
	background: $font-color;
}

h1 {
	font-size: 2.5 * $font-size;
	line-height: 1.2 * 2.5 * $font-size;
	$logo-image-width: 200px;
	padding-left: $logo-image-width + $general-spacing;
}
p {
	margin-top: $general-spacing;
}
em,
strong {
	color: $highlight2-color;
}
a {
	color: $highlight-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
label {
	cursor: hand;
}

#wrapper {
	max-width: 800px;
	margin: 0 auto;
	padding: $general-spacing;
}
#content {
	margin-bottom: 2 * $general-spacing;
	@include clearfix;
}

#logo {
	float: left;
	margin: 0 $general-spacing $general-spacing 0;
}

#inputs,
#results,
#preview,
#afterword {
	position: relative;
	margin-top: $general-spacing;
	border-top: 1px solid $font-color;
	padding-top: $general-spacing;
	padding-left: $general-spacing;
	@include background-image(linear-gradient(lighten($background-color, 5%), $background-color 100px));

	@include clearfix;

	.ui-label {
		position: absolute;
		top: 0;
		right: 2 * $general-spacing;
		padding: $general-spacing / 2 $general-spacing * 2;
		@include border-bottom-radius($general-spacing / 2);
		border: 1px solid $font-color;
		border-top: 0;
		width: 100px;
		background-color: $background-color;
		color: $highlight-color;
		font-family: $higlight-font-family;
		font-weight: bold;
		text-align: center
	}
}

.input-wrapper,
.output-wrapper {
	@include clearfix;

	label {
		float: left;
		margin-right: $general-spacing;
		width: 200px;
		font-family: $higlight-font-family;
		color: $highlight-color;
		font-size: 1.5 * $font-size;
		line-height: 2 * $font-size;

		&.for-checkbox {
			float: none;
		}
	}
}
$input-full-width: 400px;
.placeholder-html,
.markup {
	$textarea-height: 100px;
	height: $textarea-height;
	textarea {
		width: $input-full-width;
		height: $textarea-height;
		font-size: 10px;
		font-family: "Courier New", Courier, monospace;
	}
}
.url {
	input {
		width: $input-full-width;
	}
}
.content-length {
	input {
		width: 75px;
	}
}

#preview {
	@include clearfix;
	display: none;

	&.success {
		display: block;
	}

	h6 {
		display: inline;
		margin: $general-spacing;
		font-size: 1.25 * $font-size;
	}
	.looks {
		position: relative;
		float: left;
		margin: $general-spacing $general-spacing 0 0;
		border: 1px solid $font-color;
		padding: $general-spacing;
		text-align: center;
	}
	#transparency-warning {
		clear: both;

		em {
			font-size: 75%;
			font-style: italic;
		}
	}
}

#afterword {
	margin-top: 4 * $general-spacing;
	padding-top: 3 * $general-spacing;
	font-size: 0.8 * $font-size;

	h3 {
		font-size: 1.1 * $font-size;
	}
}

#hat-tip {
	margin-top: 5 * $general-spacing;
}

#closing-tags {
	margin-top: 10px;
}