/* line 17, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 31, source/eip.scss */
body {
  background: #222222;
  font-family: "Gudea", sans-serif;
  color: #cccccc;
  font-size: 16pt;
  line-height: 19.2pt;
}

/* line 39, source/eip.scss */
h1, h2, h3, h4, h5, h6, .title {
  font-family: "Rancho", cursive;
  color: #c5d6f3;
}

/* line 44, source/eip.scss */
input, select, textarea {
  font-family: "Gudea", sans-serif;
  color: #222222;
  font-size: 16pt;
  background: #cccccc;
}

/* line 51, source/eip.scss */
h1 {
  font-size: 40pt;
  line-height: 48pt;
  padding-left: 210px;
}

/* line 57, source/eip.scss */
p {
  margin-top: 10px;
}

/* line 61, source/eip.scss */
em,
strong {
  color: #58ae39;
}

/* line 64, source/eip.scss */
a {
  color: #c5d6f3;
  text-decoration: none;
}
/* line 68, source/eip.scss */
a:hover {
  text-decoration: underline;
}

/* line 73, source/eip.scss */
#wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

/* line 78, source/eip.scss */
#content {
  margin-bottom: 20px;
  zoom: 1;
}
/* line 17, source/eip.scss */
#content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}

/* line 83, source/eip.scss */
#logo {
  float: left;
  margin: 0 10px 10px 0;
}

/* line 89, source/eip.scss */
#inputs,
#results {
  margin-top: 20px;
  border-top: 1px solid #cccccc;
  padding-top: 20px;
  zoom: 1;
}
/* line 17, source/eip.scss */
#inputs:after,
#results:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}

/* line 98, source/eip.scss */
.input-wrapper,
.output-wrapper {
  zoom: 1;
}
/* line 17, source/eip.scss */
.input-wrapper:after,
.output-wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}
/* line 101, source/eip.scss */
.input-wrapper label,
.output-wrapper label {
  float: left;
  margin-right: 10px;
  width: 200px;
  font-family: "Rancho", cursive;
  color: #c5d6f3;
  font-size: 24pt;
  line-height: 32pt;
}
/* line 110, source/eip.scss */
.input-wrapper label.for-checkbox,
.output-wrapper label.for-checkbox {
  float: none;
}

/* line 116, source/eip.scss */
.markup {
  height: 100px;
}
/* line 119, source/eip.scss */
.markup textarea {
  width: 400px;
  height: 100px;
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
}

/* line 127, source/eip.scss */
.url input {
  width: 400px;
}

/* line 132, source/eip.scss */
.content-length input {
  width: 75px;
}

/* line 137, source/eip.scss */
#what-it-looks-like {
  zoom: 1;
  display: none;
}
/* line 17, source/eip.scss */
#what-it-looks-like:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}
/* line 141, source/eip.scss */
#what-it-looks-like.success {
  display: block;
}
/* line 145, source/eip.scss */
#what-it-looks-like h6 {
  display: inline;
  margin: 10px;
  font-size: 20pt;
}
/* line 150, source/eip.scss */
#what-it-looks-like .looks {
  position: relative;
  float: left;
  margin: 10px 10px 0 0;
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
}
/* line 158, source/eip.scss */
#what-it-looks-like #transparency-warning {
  clear: both;
}
/* line 161, source/eip.scss */
#what-it-looks-like #transparency-warning em {
  font-size: 75%;
  font-style: italic;
}

/* line 168, source/eip.scss */
#afterword {
  margin-top: 30px;
  border-top: 1px solid #cccccc;
  padding-top: 20px;
  font-size: 12.8pt;
}
/* line 174, source/eip.scss */
#afterword h3 {
  font-size: 17.6pt;
}

/* line 179, source/eip.scss */
#hat-tip {
  margin-top: 50px;
}
